In [1]:
import pandas as pd
import csv
import os

<b> In this notebook, we are going to combine all the 4 years of Twitch Data and drop all the unnecessary columns.</b>

In [2]:
t_2016 = pd.read_csv("C:\\Users\\gugla\\Desktop\\Twitch_Data\\Raw_Data\\twitch_2016.csv")

In [3]:
# When removing all the columns together it was giving an error, so had to remove them separately.
t_2016 = t_2016.drop(['Unnamed: 0'],axis = 1)
t_2016 = t_2016.drop(['Unnamed: 0.1'],axis = 1)
t_2016 = t_2016.drop(['Unnamed: 1'],axis = 1) 
t_2016 = t_2016.drop(['Unnamed: 11'],axis = 1)

In [4]:
t_2016

,Game,Watch time,Stream time,Peak viewers,Peak channels,Streamers,Average viewers,Average channels,Average viewer ratio
0,Sid Meier's Civilization V,230325420,7540020,22764,54,17212,437,14,30.55
1,American Truck Simulator,227861940,9681600,47163,363,15447,432,18,23.54
2,Guild Wars 2,225037680,15305280,6577,84,16494,427,29,14.70
3,Subnautica,224039700,5750340,32141,63,14986,425,10,38.96
4,Watch Dogs 2,221952420,3471900,60009,220,23817,421,6,63.93
...,...,...,...,...,...,...,...,...,...
14495,Mass Effect 3,21671280,238440,11309,20,506,486,5,90.89
14496,Resident Evil Zero,21633120,1430820,27708,369,4963,485,32,15.12
14497,Secret Hitler,21206100,29520,41675,12,112,475,0,718.36
14498,Slime Rancher,20490540,136560,37991,29,812,459,3,150.05
14499,Splatoon,20019960,995400,128419,79,1754,449,22,20.11

In [5]:
t_2017= pd.read_csv("C:\\Users\\gugla\\Desktop\\Twitch_Data\\Raw_Data\\twitch_2017.csv")

In [6]:
t_2017 = t_2017.drop(['Unnamed: 0'],axis = 1)
t_2017 = t_2017.drop(['Unnamed: 0.1'],axis = 1)
t_2017 = t_2017.drop(['Unnamed: 1'],axis = 1) 
t_2017 = t_2017.drop(['Unnamed: 11'],axis = 1)

In [7]:
t_2017

,Game,Watch time,Stream time,Peak viewers,Peak channels,Streamers,Average viewers,Average channels,Average viewer ratio
0,Fallout 4,380311440,46317300,15224,205,84832,723,88,8.21
1,Tom Clancy's Ghost Recon: Wildlands,361714800,23172060,87165,1193,77468,688,44,15.61
2,The Legend of Zelda: A Link to the Past,356250240,12184980,182559,158,6345,677,23,29.24
3,The Legend of Zelda: Ocarina of Time,352184880,7480800,8484,84,6484,670,14,47.08
4,They Are Billions,351079920,2830380,66322,248,260,668,5,124.04
...,...,...,...,...,...,...,...,...,...
14495,Assassin's Creed Origins,416705280,11399160,80844,755,31322,792,21,36.56
14496,Games + Demos,414610920,8187420,86250,84,13819,788,15,50.64
14497,Outlast 2,410257920,12174660,212319,1589,46246,780,23,33.70
14498,osu!,400830240,53728620,18701,237,71955,762,102,7.46
14499,Mario Kart 8,397342380,8414700,59013,377,13869,756,16,47.22

In [8]:
t_2018 = pd.read_csv("C:\\Users\\gugla\\Desktop\\Twitch_Data\\Raw_Data\\twitch_2018.csv")

In [9]:
t_2018 = t_2018.drop(['Unnamed: 0'],axis = 1)
t_2018 = t_2018.drop(['Unnamed: 0.1'],axis = 1)
t_2018 = t_2018.drop(['Unnamed: 1'],axis = 1) 
t_2018 = t_2018.drop(['Unnamed: 11'],axis = 1)

In [10]:
t_2018

,Game,Watch time,Stream time,Peak viewers,Peak channels,Streamers,Average viewers,Average channels,Average viewer ratio
0,Artifact,547156380,7679280,67321,1590,12899,1041,14,71.25
1,Ring Of Elysium,546117720,45019140,51585,937,88485,1039,85,12.13
2,World of Warships,545052120,31383420,18204,152,26577,1037,59,17.37
3,Age of Empires II,544093140,9658200,45645,53,13603,1035,18,56.33
4,The Legend of Zelda: Ocarina of Time,543097980,13330980,152961,141,10669,1033,25,40.74
...,...,...,...,...,...,...,...,...,...
14495,Welcome to the Game II,569563200,2515080,129007,147,8719,1083,4,226.46
14496,Arma 3,568406460,43668060,24231,286,41540,1081,83,13.02
14497,Summoners War: Sky Arena,566876100,12274320,42720,72,5592,1078,23,46.18
14498,No Man's Sky,555284820,25773480,118853,1264,51344,1056,49,21.54
14499,Conan Exiles,547712580,28764360,89655,712,31878,1042,54,19.04

In [11]:
t_2019 = pd.read_csv("C:\\Users\\gugla\\Desktop\\Twitch_Data\\Raw_Data\\twitch_2019.csv")

In [12]:
t_2019 = t_2019.drop(['Unnamed: 0'],axis = 1)
t_2019 = t_2019.drop(['Unnamed: 0.1'],axis = 1)
t_2019 = t_2019.drop(['Unnamed: 1'],axis = 1) 
t_2019 = t_2019.drop(['Unnamed: 11'],axis = 1)

In [13]:
t_2019

,Game,Watch time,Stream time,Peak viewers,Peak channels,Streamers,Average viewers,Average channels,Average viewer ratio
0,They Are Billions,562559940,7158180,48479,156,8582,1070,13,78.59
1,The Witcher 3: Wild Hunt,557882880,39764640,31898,587,72668,1061,75,14.03
2,Slay the Spire,554713320,12541980,26142,105,26091,1055,23,44.23
3,Kingdom Hearts III,549841440,26626080,127041,3855,34095,1046,50,20.65
4,Halo: The Master Chief Collection,543847560,33798420,136672,3441,66075,1034,64,16.09
...,...,...,...,...,...,...,...,...,...
14495,Super Smash Bros. Melee,581273400,7915380,163773,55,9173,1106,15,73.44
14496,The Legend of Zelda: Ocarina of Time,575146800,20115180,158726,176,13183,1094,38,28.59
14497,Mordhau,567939180,18671820,87400,544,44172,1080,35,30.42
14498,Total War: Three Kingdoms,566561040,7212180,62063,514,8639,1078,13,78.56
14499,Jump King,565418400,1760940,72015,78,7399,1075,3,321.09

In [14]:
t_16_17 = t_2016.merge(t_2017,how='outer')

In [15]:
t_16_17

,Game,Watch time,Stream time,Peak viewers,Peak channels,Streamers,Average viewers,Average channels,Average viewer ratio
0,Sid Meier's Civilization V,230325420,7540020,22764,54,17212,437,14,30.55
1,Sid Meier's Civilization V,230325420,7540020,22764,54,17212,437,14,30.55
2,American Truck Simulator,227861940,9681600,47163,363,15447,432,18,23.54
3,American Truck Simulator,227861940,9681600,47163,363,15447,432,18,23.54
4,Guild Wars 2,225037680,15305280,6577,84,16494,427,29,14.70
...,...,...,...,...,...,...,...,...,...
28995,Assassin's Creed Origins,416705280,11399160,80844,755,31322,792,21,36.56
28996,Games + Demos,414610920,8187420,86250,84,13819,788,15,50.64
28997,Outlast 2,410257920,12174660,212319,1589,46246,780,23,33.70
28998,osu!,400830240,53728620,18701,237,71955,762,102,7.46
28999,Mario Kart 8,397342380,8414700,59013,377,13869,756,16,47.22

In [16]:
t_16_17_18 = t_16_17.merge(t_2018,how='outer')

In [17]:
t_16_17_18

,Game,Watch time,Stream time,Peak viewers,Peak channels,Streamers,Average viewers,Average channels,Average viewer ratio
0,Sid Meier's Civilization V,230325420,7540020,22764,54,17212,437,14,30.55
1,Sid Meier's Civilization V,230325420,7540020,22764,54,17212,437,14,30.55
2,American Truck Simulator,227861940,9681600,47163,363,15447,432,18,23.54
3,American Truck Simulator,227861940,9681600,47163,363,15447,432,18,23.54
4,Guild Wars 2,225037680,15305280,6577,84,16494,427,29,14.70
...,...,...,...,...,...,...,...,...,...
43495,Welcome to the Game II,569563200,2515080,129007,147,8719,1083,4,226.46
43496,Arma 3,568406460,43668060,24231,286,41540,1081,83,13.02
43497,Summoners War: Sky Arena,566876100,12274320,42720,72,5592,1078,23,46.18
43498,No Man's Sky,555284820,25773480,118853,1264,51344,1056,49,21.54
43499,Conan Exiles,547712580,28764360,89655,712,31878,1042,54,19.04

In [18]:
twitch_final = t_16_17_18.merge(t_2019,how='outer')

In [19]:
twitch_final

,Game,Watch time,Stream time,Peak viewers,Peak channels,Streamers,Average viewers,Average channels,Average viewer ratio
0,Sid Meier's Civilization V,230325420,7540020,22764,54,17212,437,14,30.55
1,Sid Meier's Civilization V,230325420,7540020,22764,54,17212,437,14,30.55
2,American Truck Simulator,227861940,9681600,47163,363,15447,432,18,23.54
3,American Truck Simulator,227861940,9681600,47163,363,15447,432,18,23.54
4,Guild Wars 2,225037680,15305280,6577,84,16494,427,29,14.70
...,...,...,...,...,...,...,...,...,...
57995,Super Smash Bros. Melee,581273400,7915380,163773,55,9173,1106,15,73.44
57996,The Legend of Zelda: Ocarina of Time,575146800,20115180,158726,176,13183,1094,38,28.59
57997,Mordhau,567939180,18671820,87400,544,44172,1080,35,30.42
57998,Total War: Three Kingdoms,566561040,7212180,62063,514,8639,1078,13,78.56
57999,Jump King,565418400,1760940,72015,78,7399,1075,3,321.09

<b> Renaming the columns</b>

In [20]:
twitch_final.rename(columns = {
    'Watch time': 'Watch_time',
    'Stream time': 'Stream_time',
    'Peak viewers': 'Peak_viewers',
    'Peak channels': 'Peak_channels',
    'Average viewers': 'Average_viewers',
    'Average channels': 'Average_channels',
    'Average viewer ratio': 'Average_viewer_ratio'
},inplace = True)

<b>Grouping the dataframe by Game and adding all the columns and sorting the dataframe by watch time so the most watched game comes on the top.</b>

In [21]:
twitch_final = twitch_final.groupby('Game').sum().sort_values(by='Watch_time',ascending=False).reset_index()

In [22]:
twitch_final

,Game,Watch_time,Stream_time,Peak_viewers,Peak_channels,Streamers,Average_viewers,Average_channels,Average_viewer_ratio
0,League of Legends,193235523120,3573629520,4545117,17511,2389081,483934,8476,235.49
1,Fortnite,149623513560,9327850080,3219981,105958,7502589,284703,17748,67.95
2,Dota 2,88230167100,909440340,2956116,5402,577733,223539,2263,400.53
3,Counter-Strike: Global Offensive,79637110860,1674087780,3737745,10442,2102616,210449,4206,201.83
4,PLAYERUNKNOWN'S BATTLEGROUNDS,74638243080,2566294320,1344694,14130,1847205,142019,4882,210.63
...,...,...,...,...,...,...,...,...,...
26040,Corn Buster,240,60,4,1,0,0,0,4.00
26041,Shakugan no Shana,240,60,4,1,0,0,0,4.00
26042,Bit Planets,240,60,6,1,1,0,0,4.00
26043,Crab Cakes Rescue,240,60,7,1,1,0,0,4.00
26044,Warlords: Call to Arms,240,60,4,1,0,0,0,4.00

In [23]:
twitch_final.to_csv("twitch_final.csv")