In [1]:
import pandas as pd
import glob
import csv
import os
from os import chdir

In [2]:
if not os.path.exists("../data/raw/Twitch_2016/Twitch_2016/"):
    print("Missing dataset file")
    exisit=False
else:
    print("Success!")
    exists=True

Success!

In [3]:
csv_file_path = '../data/raw/Twitch_2016/Twitch_2016/'
chdir(csv_file_path)

In [4]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [5]:
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "twitch2016.csv", index=False, encoding='utf-8-sig')

C:\Users\Sean Harkin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [6]:
twitch_df_16 = pd.read_csv('twitch2016.csv')
twitch_df_16.head()

,Average channels,Average viewer ratio,Average viewers,Game,Peak channels,Peak viewers,Stream time,Streamers,Unnamed: 0,Unnamed: 0.1,Unnamed: 1,Unnamed: 11,Watch time
0,14,30.55,437,Sid Meier's Civilization V,54,22764,7540020,17212,Sid Meier's Civilization V,NaN,101,Sid Meier's Civilization V,230325420
1,18,23.54,432,American Truck Simulator,363,47163,9681600,15447,American Truck Simulator,NaN,102,American Truck Simulator,227861940
2,29,14.70,427,Guild Wars 2,84,6577,15305280,16494,Guild Wars 2,NaN,103,Guild Wars 2,225037680
3,10,38.96,425,Subnautica,63,32141,5750340,14986,Subnautica,NaN,104,Subnautica,224039700
4,6,63.93,421,Watch Dogs 2,220,60009,3471900,23817,Watch Dogs 2,NaN,105,Watch Dogs 2,221952420

In [7]:
twitch_df_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43500 entries, 0 to 43499
Data columns (total 13 columns):
Average channels        43500 non-null int64
Average viewer ratio    43500 non-null float64
Average viewers         43500 non-null int64
Game                    43500 non-null object
Peak channels           43500 non-null int64
Peak viewers            43500 non-null int64
Stream time             43500 non-null int64
Streamers               43500 non-null int64
Unnamed: 0              43500 non-null object
Unnamed: 0.1            29000 non-null object
Unnamed: 1              43500 non-null int64
Unnamed: 11             43500 non-null object
Watch time              43500 non-null int64
dtypes: float64(1), int64(8), object(4)
memory usage: 4.3+ MB

In [8]:
twitch_df_16.to_csv("twitch_2016.csv")