<b> Importing all the required packages</b>

In [ ]:
import pandas as pd
import glob
import csv
import os
from os import chdir

In [2]:
if not os.path.exists("../data/raw/Twitch_2019/Twitch_2019/"):
    print("Missing dataset file")
    exisit=False
else:
    print("Success!")
    exists=True

Success!

In [3]:
csv_file_path = '../data/raw/Twitch_2019/Twitch_2019/'
chdir(csv_file_path)

<b>To combine all the CSV files in the folder all together, I found a method online which I am going to use in the following notebook. This method is used by calling the "glob" library.</b>

In [4]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [5]:
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "twitch2019.csv", index=False, encoding='utf-8-sig')

C:\Users\Sean Harkin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3248: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\Sean Harkin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3248: DtypeWarning: Columns (9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\Sean Harkin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [7]:
twitch_df_19 = pd.read_csv('twitch2019.csv')
twitch_df_19.head()

,Average channels,Average viewer ratio,Average viewers,Game,Peak channels,Peak viewers,Stream time,Streamers,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 1,Unnamed: 11,Watch time
0,13,78.59,1070,They Are Billions,156,48479,7158180,8582,They Are Billions,NaN,NaN,NaN,101,They Are Billions,562559940
1,75,14.03,1061,The Witcher 3: Wild Hunt,587,31898,39764640,72668,The Witcher 3: Wild Hunt,NaN,NaN,NaN,102,The Witcher 3: Wild Hunt,557882880
2,23,44.23,1055,Slay the Spire,105,26142,12541980,26091,Slay the Spire,NaN,NaN,NaN,103,Slay the Spire,554713320
3,50,20.65,1046,Kingdom Hearts III,3855,127041,26626080,34095,Kingdom Hearts III,NaN,NaN,NaN,104,Kingdom Hearts III,549841440
4,64,16.09,1034,Halo: The Master Chief Collection,3441,136672,33798420,66075,Halo: The Master Chief Collection,NaN,NaN,NaN,105,Halo: The Master Chief Collection,543847560

In [8]:
twitch_df_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594500 entries, 0 to 594499
Data columns (total 15 columns):
Average channels        594500 non-null int64
Average viewer ratio    594500 non-null float64
Average viewers         594500 non-null int64
Game                    594459 non-null object
Peak channels           594500 non-null int64
Peak viewers            594500 non-null int64
Stream time             594500 non-null int64
Streamers               594500 non-null int64
Unnamed: 0              594495 non-null object
Unnamed: 0.1            521988 non-null object
Unnamed: 0.1.1          347984 non-null object
Unnamed: 0.1.1.1        115992 non-null object
Unnamed: 1              594500 non-null int64
Unnamed: 11             594459 non-null object
Watch time              594500 non-null int64
dtypes: float64(1), int64(8), object(6)
memory usage: 68.0+ MB

In [9]:
twitch_df_19.to_csv("twitch_2019.csv")